test/support/ShipConfirmRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ups="http://www.ups.com/XMLSchema" elementFormDefault="qualified">
	<xsd:element name="InternationalForms" type="InternationalFormsType"/>
	<xsd:complexType name="InternationalFormsType">
		<xsd:sequence>
			<xsd:element name="FormType" type="xsd:string" maxOccurs="unbounded"/>
			<xsd:element name="UserCreatedForm" type="UserCreatedFormType" minOccurs="0"/>
			<xsd:element name="CN22Form" type="CN22FormType" minOccurs="0"/>
			<xsd:element name="UPSPremiumCareForm" type="UPSPremiumCareFormType" minOccurs="0"/>
			<xsd:element name="AdditionalDocumentIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FormGroupIdName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SEDFilingOption" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Contacts" type="ContactsType" minOccurs="0"/>
			<xsd:element name="Product" type="ProductType" maxOccurs="unbounded"/>
			<xsd:element ref="InvoiceNumber" minOccurs="0"/>
			<xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PurchaseOrderNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element ref="TermsOfShipment" minOccurs="0"/>
			<xsd:element ref="ReasonForExport" minOccurs="0"/>
			<xsd:element ref="Comments" minOccurs="0"/>
			<xsd:element ref="DeclarationStatement" minOccurs="0"/>
			<xsd:element name="Discount" type="DiscountType" minOccurs="0"/>
			<xsd:element name="FreightCharges" type="FreightChargesType" minOccurs="0"/>
			<xsd:element name="InsuranceCharges" type="InsuranceChargesType" minOccurs="0"/>
			<xsd:element name="OtherCharges" type="OtherChargesType" minOccurs="0"/>
			<xsd:element ref="CurrencyCode" minOccurs="0"/>
			<xsd:element name="BlanketPeriod" type="BlanketPeriodType" minOccurs="0"/>
			<xsd:element name="ExportDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExportingCarrier" type="xsd:string" minOccurs="0"/>
			<xsd:element ref="CarrierID" minOccurs="0"/>
			<xsd:element name="InBondCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EntryNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PointOfOrigin" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ModeOfTransport" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PortOfExport" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PortOfUnloading" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LoadingPier" type="xsd:string" minOccurs="0"/>
			<xsd:element ref="PartiesToTransaction" minOccurs="0"/>
			<xsd:element name="RoutedExportTransactionIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ContainerizedIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="License" type="LicenseType" minOccurs="0"/>
			<xsd:element name="ECCNNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ShipperMemo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OverridePaperlessIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MultiCurrencyInvoiceLineTotal" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PointOfOriginType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EEIFilingOption" type="EEIFilingOptionType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UPSPremiumCareFormType">
		<xsd:sequence>
			<xsd:element name="ShipmentDate" type="xsd:string"/>
			<xsd:element name="PageSize" type="xsd:string"/>
			<xsd:element name="PrintType" type="xsd:string"/>
			<xsd:element name="NumOfCopies" type="xsd:string"/>
			<xsd:element name="LanguageForUPSPremiumCare" type="LanguageForUPSPremiumCareType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LanguageForUPSPremiumCareType">
		<xsd:sequence>
			<xsd:element name="Language" type="xsd:string" maxOccurs="2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UserCreatedFormType">
		<xsd:sequence>
			<xsd:element name="DocumentID" type="xsd:string" maxOccurs="13"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CN22FormType">
		<xsd:sequence>
			<xsd:element name="LabelSize" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PrintsPerPage" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LabelPrintType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22Type" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22OtherDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FoldHereText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22Content" type="CN22ContentType" minOccurs="0" maxOccurs="3"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CN22ContentType">
		<xsd:sequence>
			<xsd:element name="CN22ContentQuantity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22ContentDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22ContentWeight" type="ProductWeightType" minOccurs="0"/>
			<xsd:element name="CN22ContentTotalValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22ContentCurrencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22ContentCountryOfOrigin" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22ContentTariffNumber" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AddressLine1" type="xsd:string"/>
	<xsd:element name="AddressLine2" type="xsd:string"/>
	<xsd:element name="AddressLine3" type="xsd:string"/>
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element ref="AddressLine1" minOccurs="0"/>
			<xsd:element ref="AddressLine2" minOccurs="0"/>
			<xsd:element ref="AddressLine3" minOccurs="0"/>
			<xsd:element ref="City" minOccurs="0"/>
			<xsd:element ref="StateProvinceCode" minOccurs="0"/>
			<xsd:element ref="PostalCode" minOccurs="0"/>
			<xsd:element ref="CountryCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="BeginDate" type="xsd:string"/>
	<xsd:complexType name="BlanketPeriodType">
		<xsd:sequence>
			<xsd:element ref="BeginDate"/>
			<xsd:element ref="EndDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CarrierID" type="xsd:string"/>
	<xsd:element name="City" type="xsd:string"/>
	<xsd:complexType name="ContactsType">
		<xsd:sequence>
			<xsd:element name="ForwardAgent" type="ForwardAgentType" minOccurs="0"/>
			<xsd:element name="UltimateConsignee" type="UltimateConsigneeType" minOccurs="0"/>
			<xsd:element name="IntermediateConsignee" type="IntermediateConsigneeType" minOccurs="0"/>
			<xsd:element name="Producer" type="ProducerType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CompanyName" type="xsd:string"/>
	<xsd:element name="Code" type="xsd:string"/>
	<xsd:complexType name="CodeType">
		<xsd:sequence>
			<xsd:element ref="Code"/>
			<xsd:element ref="Description" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CurrencyCode" type="xsd:string"/>
	<xsd:element name="CountryCode" type="xsd:string"/>
	<xsd:element name="Comments" type="xsd:string"/>
	<xsd:element name="CommodityCode" type="xsd:string"/>
	<xsd:element name="Date" type="xsd:string"/>
	<xsd:element name="DeclarationStatement" type="xsd:string"/>
	<xsd:element name="Description" type="xsd:string"/>
	<xsd:complexType name="DiscountType">
		<xsd:sequence>
			<xsd:element ref="MonetaryValue"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="EndDate" type="xsd:string"/>
	<xsd:element name="ExportDate" type="xsd:string"/>
	<xsd:element name="ExportingCarrier" type="xsd:string"/>
	<xsd:complexType name="ForwardAgentType">
		<xsd:sequence>
			<xsd:element ref="CompanyName" minOccurs="0"/>
			<xsd:element ref="TaxIdentificationNumber" minOccurs="0"/>
			<xsd:element name="Address" type="AddressType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FreightChargesType">
		<xsd:sequence>
			<xsd:element ref="MonetaryValue"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InsuranceChargesType">
		<xsd:sequence>
			<xsd:element ref="MonetaryValue"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IntermediateConsigneeType">
		<xsd:sequence>
			<xsd:element ref="CompanyName" minOccurs="0"/>
			<xsd:element name="Address" type="AddressType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="InvoiceNumber" type="xsd:string"/>
	<xsd:complexType name="LicenseType">
		<xsd:sequence>
			<xsd:element ref="Number"/>
			<xsd:element ref="Date"/>
			<xsd:element name="ExceptionCode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MarksAndNumbers" type="xsd:string"/>
	<xsd:element name="MonetaryValue" type="xsd:string"/>
	<xsd:complexType name="NetCostDateRangeType">
		<xsd:sequence>
			<xsd:element ref="BeginDate"/>
			<xsd:element ref="EndDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Number" type="xsd:string"/>
	<xsd:element name="NumberOfPackagesPerCommodity" type="xsd:string"/>
	<xsd:element name="OriginCountryCode" type="xsd:string"/>
	<xsd:complexType name="OtherChargesType">
		<xsd:sequence>
			<xsd:element ref="MonetaryValue"/>
			<xsd:element ref="Description" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PartiesToTransaction" type="xsd:string"/>
	<xsd:element name="PartNumber" type="xsd:string"/>
	<xsd:complexType name="PhoneType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:string"/>
			<xsd:element name="Extension" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PostalCode" type="xsd:string"/>
	<xsd:complexType name="ProductType">
		<xsd:sequence>
			<xsd:element ref="Description" maxOccurs="unbounded"/>
			<xsd:element name="Unit" type="UnitType" minOccurs="0"/>
			<xsd:element ref="CommodityCode" minOccurs="0"/>
			<xsd:element ref="PartNumber" minOccurs="0"/>
			<xsd:element ref="OriginCountryCode" minOccurs="0"/>
			<xsd:element name="JointProductionIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NetCostCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NetCostDateRange" type="NetCostDateRangeType" minOccurs="0"/>
			<xsd:element name="PreferenceCriteria" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProducerInfo" type="xsd:string" minOccurs="0"/>
			<xsd:element ref="MarksAndNumbers" minOccurs="0"/>
			<xsd:element ref="NumberOfPackagesPerCommodity" minOccurs="0"/>
			<xsd:element name="ProductWeight" type="ProductWeightType" minOccurs="0"/>
			<xsd:element name="VehicleID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ScheduleB" type="ScheduleBType" minOccurs="0"/>
			<xsd:element name="ExportType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SEDTotalValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExcludeFromForm" type="ExcludeFromFormType" minOccurs="0"/>
			<xsd:element name="ProductCurrencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PackingListInfo" type="PackingListInfoType" minOccurs="0"/>
			<xsd:element name="EEIInformation" type="EEIInformationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExcludeFromFormType">
		<xsd:sequence>
			<xsd:element name="FormType" type="xsd:string" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProducerType">
		<xsd:sequence>
			<xsd:element name="Option" type="xsd:string" minOccurs="0"/>
			<xsd:element ref="CompanyName" minOccurs="0"/>
			<xsd:element ref="TaxIdentificationNumber" minOccurs="0"/>
			<xsd:element name="Address" type="AddressType" minOccurs="0"/>
			<xsd:element name="AttentionName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Phone" type="PhoneType" minOccurs="0"/>
			<xsd:element name="EMailAddress" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductWeightType">
		<xsd:sequence>
			<xsd:element ref="UnitOfMeasurement" minOccurs="0"/>
			<xsd:element ref="Weight"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Quantity" type="xsd:string"/>
	<xsd:element name="ReasonForExport" type="xsd:string"/>
	<xsd:element name="StateProvinceCode" type="xsd:string"/>
	<xsd:complexType name="ScheduleBType">
		<xsd:sequence>
			<xsd:element ref="Number"/>
			<xsd:element ref="Quantity" minOccurs="0" maxOccurs="2"/>
			<xsd:element ref="UnitOfMeasurement" minOccurs="0" maxOccurs="2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TaxIdentificationNumber" type="xsd:string"/>
	<xsd:element name="TermsOfShipment" type="xsd:string"/>
	<xsd:complexType name="UltimateConsigneeType">
		<xsd:sequence>
			<xsd:element ref="CompanyName" minOccurs="0"/>
			<xsd:element name="Address" type="AddressType" minOccurs="0"/>
			<xsd:element name="UltimateConsigneeType" type="UltimateConsigneeTypeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UnitType">
		<xsd:sequence>
			<xsd:element ref="Number"/>
			<xsd:element ref="Value"/>
			<xsd:element ref="UnitOfMeasurement"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackingListInfoType">
		<xsd:sequence>
			<xsd:element name="PackageAssociated" type="PackageAssociatedType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageAssociatedType">
		<xsd:sequence>
			<xsd:element name="PackageNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProductAmount" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="UnitOfMeasurement" type="CodeType"/>
	<xsd:element name="Value" type="xsd:string"/>
	<xsd:element name="Weight" type="xsd:string"/>
	<xsd:complexType name="EEILicenseType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LicenseLineValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ECCNNumber" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EEIFilingOptionType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EMailAddress" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UPSFiled" type="UPSFiledType" minOccurs="0"/>
			<xsd:element name="ShipperFiled" type="ShipperFiledType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UPSFiledType">
		<xsd:sequence>
			<xsd:element name="POA" type="POAType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipperFiledType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PreDepartureITNNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExemptionLegend" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EEIInformationType">
		<xsd:sequence>
			<xsd:element name="ExportInformation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="License" type="EEILicenseType" minOccurs="0"/>
			<xsd:element name="DDTCInformation" type="DDTCInformationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="POAType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UltimateConsigneeTypeType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DDTCInformationType">
		<xsd:sequence>
			<xsd:element name="ITARExemptionNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="USMLCategoryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EligiblePartyIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RegistrationNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UnitOfMeasurement" type="CodeType" minOccurs="0"/>
			<xsd:element name="SignificantMilitaryEquipmentIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ACMNumber" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AccessRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AccessLicenseNumber" type="xsd:string"/>
				<xsd:element name="UserId" type="xsd:string"/>
				<xsd:element name="Password" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ShipmentConfirmRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Request" type="RequestType"/>
				<xsd:element name="Shipment" type="ShipmentType"/>
				<xsd:element name="LabelSpecification" type="LabelSpecificationType" minOccurs="0"/>
				<xsd:element name="ReceiptSpecification" type="ReceiptSpecificationType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RequestType">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element name="RequestAction" type="xsd:string"/>
				<xsd:element name="RequestOption" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TransactionReference" type="TransactionReferenceType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransactionReferenceType">
		<xsd:sequence>
			<xsd:element name="CustomerContext" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentType">
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ReturnService" type="ReturnServiceType" minOccurs="0"/>
			<xsd:element name="DocumentsOnly" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Shipper" type="ShipperType"/>
			<xsd:element name="ShipTo" type="ShipToType"/>
			<xsd:element name="AlternateDeliveryAddress" type="AlternateDeliveryAddressType" minOccurs="0"/>
			<xsd:element name="ShipFrom" type="ShipFromType" minOccurs="0"/>
			<xsd:element name="SoldTo" type="SoldToType" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="PaymentInformation" type="PaymentInformationType" minOccurs="0"/>
				<xsd:element name="ItemizedPaymentInformation" type="ItemizedPaymentInformationType" minOccurs="0"/>
			</xsd:choice>
			<xsd:element name="GoodsNotInFreeCirculationIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RateInformation" type="RateInformationType" minOccurs="0"/>
			<xsd:element name="MovementReferenceNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ReferenceNumber" type="ReferenceNumberType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Service" type="ServiceType"/>
			<xsd:element name="InvoiceLineTotal" type="InvoiceLineTotalType" minOccurs="0"/>
			<xsd:element name="NumOfPiecesInShipment" type="xsd:string" minOccurs="0"/>
			<xsd:element name="USPSEndorsement" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MILabelCN22Indicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SubClassification" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CostCenter" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PackageID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IrregularIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ShipmentServiceOptions" type="ShipmentServiceOptionsType" minOccurs="0"/>
			<xsd:element name="Package" type="PackageType" maxOccurs="unbounded"/>
			<xsd:element name="ItemizedChargesRequestedIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RatingMethodRequestedIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TaxInformationIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ShipmentIndicationType" type="IndicationType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReturnServiceType">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element name="Code" type="xsd:string"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipperType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="AttentionName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CompanyDisplayableName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ShipperNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TaxIdentificationNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FaxNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EMailAddress" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Address" type="ShipperAddressType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipperAddressType">
		<xsd:sequence>
			<xsd:element name="AddressLine1" type="xsd:string"/>
			<xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="City" type="xsd:string"/>
			<xsd:element name="StateProvinceCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CountryCode" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipToType">
		<xsd:sequence>
			<xsd:element name="CompanyName" type="xsd:string"/>
			<xsd:element name="AttentionName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TaxIdentificationNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FaxNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EMailAddress" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Address" type="ShipToAddressType"/>
			<xsd:element name="LocationID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipToAddressType">
		<xsd:sequence>
			<xsd:element name="AddressLine1" type="xsd:string"/>
			<xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="City" type="xsd:string"/>
			<xsd:element name="StateProvinceCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CountryCode" type="xsd:string"/>
			<xsd:element name="ResidentialAddress" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipFromType">
		<xsd:sequence>
			<xsd:element name="CompanyName" type="xsd:string"/>
			<xsd:element name="AttentionName" type="xsd:string"/>
			<xsd:element name="TaxIdentificationNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TaxIDType" type="TaxIDCodeDescType"/>
			<xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FaxNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Address" type="ShipFromAddressType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipFromAddressType">
		<xsd:sequence>
			<xsd:element name="AddressLine1" type="xsd:string"/>
			<xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="City" type="xsd:string"/>
			<xsd:element name="StateProvinceCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CountryCode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SoldToType">
		<xsd:sequence>
			<xsd:element name="Option" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CompanyName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AttentionName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TaxIdentificationNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Address" type="SoldToAddressType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SoldToAddressType">
		<xsd:sequence>
			<xsd:element name="AddressLine1" type="xsd:string"/>
			<xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="City" type="xsd:string"/>
			<xsd:element name="StateProvinceCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CountryCode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentInformationType">
		<xsd:choice>
			<xsd:element name="Prepaid" type="PrepaidType" minOccurs="0"/>
			<xsd:element name="BillThirdParty" type="BillThirdPartyType" minOccurs="0"/>
			<xsd:element name="FreightCollect" type="FreightCollectType" minOccurs="0"/>
			<xsd:element name="ConsigneeBilled" type="xsd:string" minOccurs="0"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="PrepaidType">
		<xsd:sequence>
			<xsd:element name="BillShipper" type="BillShipperType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BillShipperType">
		<xsd:choice>
			<xsd:element name="AccountNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreditCard" type="CreditCardType" minOccurs="0"/>
			<xsd:element name="AlternatePaymentMethod" type="xsd:string" minOccurs="0"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="CreditCardType">
		<xsd:sequence>
			<xsd:element name="Type" type="xsd:string"/>
			<xsd:element name="Number" type="xsd:string"/>
			<xsd:element name="ExpirationDate" type="xsd:string"/>
			<xsd:element name="SecurityCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Address" type="CreditCardAddressType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditCardAddressType">
		<xsd:sequence>
			<xsd:element name="AddressLine1" type="xsd:string"/>
			<xsd:element name="AddressLine2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AddressLine3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="City" type="xsd:string"/>
			<xsd:element name="StateProvinceCode" type="xsd:string"/>
			<xsd:element name="PostalCode" type="xsd:string"/>
			<xsd:element name="CountryCode" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BillThirdPartyType">
		<xsd:sequence>
			<xsd:element name="BillThirdPartyShipper" type="BillThirdPartyShipperType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BillThirdPartyShipperType">
		<xsd:sequence>
			<xsd:element name="AccountNumber" type="xsd:string"/>
			<xsd:element name="ThirdParty" type="ThirdPartyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ThirdPartyType">
		<xsd:sequence>
			<xsd:element name="Address" type="ThirdPartyAddressType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ThirdPartyAddressType">
		<xsd:sequence>
			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CountryCode" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FreightCollectType">
		<xsd:sequence>
			<xsd:element name="BillReceiver" type="BillReceiverType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BillReceiverType">
		<xsd:sequence>
			<xsd:element name="AccountNumber" type="xsd:string"/>
			<xsd:element name="Address" type="BillReceiverAddressType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BillReceiverAddressType">
		<xsd:sequence>
			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemizedPaymentInformationType">
		<xsd:sequence>
			<xsd:element name="ShipmentCharge" type="ShipmentChargeType" maxOccurs="2"/>
			<xsd:element name="SplitDutyVATIndicator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentChargeType">
		<xsd:sequence>
			<xsd:element name="Type" type="xsd:string"/>
			<xsd:choice>
				<xsd:element name="BillShipper" type="BillShipperType" minOccurs="0"/>
				<xsd:element name="BillReceiver" type="BillReceiverType" minOccurs="0"/>
				<xsd:element name="BillThirdParty" type="ItemizedBillThirdPartyType" minOccurs="0"/>
				<xsd:element name="ConsigneeBilled" type="xsd:string" minOccurs="0"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ItemizedBillThirdPartyType">
		<xsd:choice>
			<xsd:element name="BillThirdPartyShipper" type="BillThirdPartyShipperType" minOccurs="0"/>
			<xsd:element name="BillThirdPartyConsignee" type="BillThirdPartyConsigneeType" minOccurs="0"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="BillThirdPartyConsigneeType">
		<xsd:sequence>
			<xsd:element name="AccountNumber" type="xsd:string"/>
			<xsd:element name="ThirdParty" type="ThirdPartyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RateInformationType">
		<xsd:sequence>
			<xsd:element name="NegotiatedRatesIndicator" type="xsd:string"/>
			<xsd:element name="RateChartIndicator" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReferenceNumberType">
		<xsd:sequence>
			<xsd:element name="BarCodeIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ServiceType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InvoiceLineTotalType">
		<xsd:sequence>
			<xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MonetaryValue" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentServiceOptionsType">
		<xsd:sequence>
			<xsd:element name="SaturdayDelivery" type="xsd:string" minOccurs="0"/>
			<xsd:element name="COD" type="ShipmentServiceOptionsCODType" minOccurs="0"/>
			<xsd:element name="AccessPointCOD" type="ShipmentServiceOptionsAccessPointCODType" minOccurs="0"/>
			<xsd:element name="DeliverToAddresseeOnlyIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Notification" type="ShipmentServiceOptionsNotificationType" minOccurs="0" maxOccurs="3"/>
			<xsd:element name="LabelDelivery" type="LabelDeliveryType" minOccurs="0"/>
			<xsd:element name="InternationalForms" type="InternationalFormsType" minOccurs="0"/>
			<xsd:element name="ReturnOfDocumentIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DeliveryConfirmation" type="ShipmentServiceOptionsDeliveryConfirmationType" minOccurs="0"/>
			<xsd:element name="ImportControlIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LabelMethod" type="LabelMethodType" minOccurs="0"/>
			<xsd:element name="CommercialInvoiceRemovalIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UPScarbonneutralIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PreAlertNotification" type="PreAlertNotificationType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ExchangeForwardIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HoldForPickupIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DropoffAtUPSFacilityIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LiftGateForPickUpIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LiftGateForDeliveryIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SDLShipmentIndicator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PreAlertNotificationType">
		<xsd:sequence>
			<xsd:element name="EMailMessage" type="PreAlertEMailMessageType" minOccurs="0"/>
			<xsd:element name="VoiceMessage" type="PreAlertVoiceMessageType" minOccurs="0"/>
			<xsd:element name="TextMessage" type="PreAlertTextMessageType" minOccurs="0"/>
			<xsd:element name="Locale" type="LocaleType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PreAlertEMailMessageType">
		<xsd:sequence>
			<xsd:element name="EMailAddress" type="xsd:string"/>
			<xsd:element name="UndeliverableEMailAddress" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LocaleType">
		<xsd:sequence>
			<xsd:element name="Language" type="xsd:string"/>
			<xsd:element name="Dialect" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PreAlertVoiceMessageType">
		<xsd:sequence>
			<xsd:element name="PhoneNumber" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PreAlertTextMessageType">
		<xsd:sequence>
			<xsd:element name="PhoneNumber" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PickupDetailsContactInfoType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentServiceOptionsCODType">
		<xsd:sequence>
			<xsd:element name="CODCode" type="xsd:string"/>
			<xsd:element name="CODFundsCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CODAmount" type="ShipmentServiceOptionsCODAmountType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentServiceOptionsCODAmountType">
		<xsd:sequence>
			<xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MonetaryValue" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentServiceOptionsAccessPointCODType">
		<xsd:sequence>
			<xsd:element name="CurrencyCode" type="xsd:string"/>
			<xsd:element name="MonetaryValue" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentServiceOptionsNotificationType">
		<xsd:sequence>
			<xsd:element name="NotificationCode" type="xsd:string"/>
			<xsd:element name="EMailMessage" type="ShipmentServiceOptionsNotificationEMailMessageType"/>
			<xsd:element name="VoiceMessage" type="ShipmentServiceOptionsNotificationVoiceMessageType" minOccurs="0"/>
			<xsd:element name="TextMessage" type="ShipmentServiceOptionsNotificationTextMessageType" minOccurs="0"/>
			<xsd:element name="Locale" type="LocaleType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentServiceOptionsNotificationEMailMessageType">
		<xsd:sequence>
			<xsd:element name="EMailAddress" type="xsd:string" maxOccurs="5"/>
			<xsd:element name="UndeliverableEMailAddress" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FromEMailAddress" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FromName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Memo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Subject" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SubjectCode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LabelDeliveryType">
		<xsd:sequence>
			<xsd:element name="EMailMessage" type="LabelDeliveryEMailMessageType" minOccurs="0"/>
			<xsd:element name="LabelLinksIndicator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LabelDeliveryEMailMessageType">
		<xsd:sequence>
			<xsd:element name="EMailAddress" type="xsd:string"/>
			<xsd:element name="UndeliverableEMailAddress" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FromEMailAddress" type="xsd:string"/>
			<xsd:element name="FromName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Memo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Subject" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SubjectCode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentServiceOptionsDeliveryConfirmationType">
		<xsd:sequence>
			<xsd:element name="DCISType" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LabelMethodType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageType">
		<xsd:sequence>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PackagingType" type="PackagingTypeType" minOccurs="0"/>
			<xsd:element name="Dimensions" type="DimensionsType" minOccurs="0"/>
			<xsd:element name="PackageWeight" type="PackageWeightType" minOccurs="0"/>
			<xsd:element name="LargePackageIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ReferenceNumber" type="ReferenceNumberType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AdditionalHandling" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PackageServiceOptions" type="PackageServiceOptionsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackagingTypeType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DimensionsType">
		<xsd:sequence>
			<xsd:element name="UnitOfMeasurement" type="UnitOfMeasurementType"/>
			<xsd:element name="Length" type="xsd:string"/>
			<xsd:element name="Width" type="xsd:string"/>
			<xsd:element name="Height" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UnitOfMeasurementType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageWeightType">
		<xsd:sequence>
			<xsd:element name="UnitOfMeasurement" type="UnitOfMeasurementType"/>
			<xsd:element name="Weight" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageServiceOptionsType">
		<xsd:sequence>
			<xsd:element name="DeliveryConfirmation" type="PackageServiceOptionsDeliveryConfirmationType" minOccurs="0"/>
			<xsd:element name="InsuredValue" type="InsuredValueType" minOccurs="0"/>
			<xsd:element name="COD" type="PackageServiceOptionsCODType" minOccurs="0"/>
			<xsd:element name="AccessPointCOD" type="PackageServiceOptionsAccessPointCODType" minOccurs="0"/>
			<xsd:element name="VerbalConfirmation" type="VerbalConfirmationType" minOccurs="0"/>
			<xsd:element name="ShipperReleaseIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Notification" type="PackageServiceOptionsNotificationType" minOccurs="0"/>
			<xsd:element name="DryIce" type="DryIceType" minOccurs="0"/>
			<xsd:element name="UPSPremiumCareIndicator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageServiceOptionsDeliveryConfirmationType">
		<xsd:sequence>
			<xsd:element name="DCISType" type="xsd:string"/>
			<xsd:element name="DCISNumber" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InsuredValueType">
		<xsd:sequence>
			<xsd:element name="Type" type="InsuredValueCodeDescriptionType" minOccurs="0"/>
			<xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MonetaryValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InsuredValueCodeDescriptionType">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element name="Code" type="xsd:string"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageServiceOptionsCODType">
		<xsd:sequence>
			<xsd:element name="CODCode" type="xsd:string"/>
			<xsd:element name="CODFundsCode" type="xsd:string"/>
			<xsd:element name="CODAmount" type="PackageServiceOptionsCODAmountType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageServiceOptionsCODAmountType">
		<xsd:sequence>
			<xsd:element name="CurrencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MonetaryValue" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageServiceOptionsAccessPointCODType">
		<xsd:sequence>
			<xsd:element name="CurrencyCode" type="xsd:string"/>
			<xsd:element name="MonetaryValue" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VerbalConfirmationType">
		<xsd:sequence>
			<xsd:element name="ContactInfo" type="VerbalConfirmationContactInfoType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VerbalConfirmationContactInfoType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageServiceOptionsNotificationType">
		<xsd:sequence>
			<xsd:element name="NotificationCode" type="xsd:string"/>
			<xsd:element name="EMailMessage" type="PackageServiceOptionsNotificationEMailMessageType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageServiceOptionsNotificationEMailMessageType">
		<xsd:sequence>
			<xsd:element name="EMailAddress" type="xsd:string" maxOccurs="2"/>
			<xsd:element name="UndeliverableEMailAddress" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FromEMailAddress" type="xsd:string"/>
			<xsd:element name="FromName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Memo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Subject" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SubjectCode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LabelSpecificationType">
		<xsd:sequence>
			<xsd:element name="LabelPrintMethod" type="LabelPrintMethodCodeDescriptionType"/>
			<xsd:element name="HTTPUserAgent" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LabelStockSize" type="LabelStockSizeType" minOccurs="0"/>
			<xsd:element name="LabelImageFormat" type="LabelImageFormatCodeDescriptionType"/>
			<xsd:element name="Instruction" type="InstructionCodeDescriptionType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InstructionCodeDescriptionType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LabelPrintMethodCodeDescriptionType">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element name="Code" type="xsd:string"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LabelStockSizeType">
		<xsd:sequence>
			<xsd:element name="Height" type="xsd:string"/>
			<xsd:element name="Width" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LabelImageFormatCodeDescriptionType">
		<xsd:sequence>
			<xsd:sequence>
				<xsd:element name="Code" type="xsd:string"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DryIceType">
		<xsd:sequence>
			<xsd:element name="RegulationSet" type="xsd:string"/>
			<xsd:element name="DryIceWeight" type="DryIceWeightType"/>
			<xsd:element name="MedicalUseIndicator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DryIceWeightType">
		<xsd:sequence>
			<xsd:element name="UnitOfMeasurement" type="UnitOfMeasurementType"/>
			<xsd:element name="Weight" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReceiptSpecificationType">
		<xsd:sequence>
			<xsd:element name="ImageFormat" type="ImageFormatCodeDescriptionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ImageFormatCodeDescriptionType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AlternateDeliveryAddressType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AttentionName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UPSAccessPointID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Address" type="ADLAddressType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndicationType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentServiceOptionsNotificationVoiceMessageType">
		<xsd:sequence>
			<xsd:element name="PhoneNumber" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipmentServiceOptionsNotificationTextMessageType">
		<xsd:sequence>
			<xsd:element name="PhoneNumber" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ADLAddressType">
		<xsd:sequence>
			<xsd:element name="AddressLine" type="xsd:string" maxOccurs="3"/>
			<xsd:element name="City" type="xsd:string"/>
			<xsd:element name="StateProvinceCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PostalCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CountryCode" type="xsd:string"/>
			<xsd:element name="ResidentialAddressIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="POBoxIndicator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaxIDCodeDescType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
